body {
	color: #d4d0ab;
	background-color: #1f2a46;
	font-size: 1.2em;
	font-weight: 100;
	font-family: Sans-Serif;
}
h1 {
	font-weight: 400;
	font-size: 1.5em;
	text-align: center;
}
h2 {
	font-weight: 400;
	font-size: 3vw;
	text-align: left;
}

h3 {
	font-weight: 400;
	margin-top: 0em;
	font-size: 1.2em;
	text-align: left;
}
h4 {
	font-weight: 400;
	font-size: 1em;
	text-align: center;
}
h5 {
	font-weight: 100;
	margin-top: 0em;
	margin-bottom: 0em;
	font-size: 0.8em;
	text-align: center;
}
a:visited, a:link {
	color: #d4d0ab;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #010338;
  border: 1px;
  border-style: solid;
}
a:hover, a:active {
  background-color: #2d5675;
}

div.mainbody {
  right: 0;
  top: 1vh;
  position: absolute;
  width: 84vw;
}

/* sidebar stuff */
div.sidebar {
  width: 15vw;
  float: left;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0.2em;
  display: grid;
  grid-template-columns: 14vw;
  grid-template-rows: auto;
}

div.admin_list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
}
div.admin_list div {
  text-align: center;
}

div.menuitem {
  text-align: center;
  height: 100%;
}  
button.menu {
  width: 14vw;
  height: 12vh;
  border: 1px;
  border-style: solid;
  color: inherit;
  font-size: 3vmin;
  background-color: #010338;
}


button:hover {
  background-color: #2d5675;
}

button {
  border: 1px;
  border-style: solid;
  color: inherit;
  background-color: #010338;
}

button.change {
  width: 10em;
  padding: 1em, 1em;
/*   font-size: 1.2em; */
}

button:hover {
  background-color: #2d5675;
}
