
div.supplier_list {
  align-items: center;
  margin-top: 0.1vw;
  display: grid;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}
div.supplier{
  align-items: center;
  margin-bottom: 0.1vw;
  display: grid;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  grid-template-columns: 1fr 3fr;
}
div.supplier_value {
  display: grid;
}
div.supplier_input {
  display: none;
}
div.supplier_key {
  text-align: right;
  margin-right: 0.5vw;
}

div.new_supplier {
  border-width: 1px;
  border-style: solid;

}
div.new_supplier_info {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
div.new_supplier_top {
  text-align: center;
}
div.new_supplier_button {
  margin-top: 0.4vw;
  text-align: center;
  grid-column: 1 / span 2;
  margin-bottom: 0.2vw;
}
div.delete_button{
  grid-column: 1 / span 2;
  text-align: right;
}
div.new_supplier_key {
  text-align: right;
  margin-right: 0.5vw;
}
button.wide {
  padding: 1vw, 1vw;
  width: 95%;
  height: 2vw;
}
input.wide {
  width: 95%;
}
select {
  width: 95%;
}

