div.instance_name, div.pay_period_type, div.current_pay_period_start, div.pay_period_rollover, div.current_pay_period {
  display: grid;
  border: 1px;
  border-style: solid;
  padding: 0.3em;
  margin-top: 0.1em;
}
div.instance_name, div.pay_period_type, div.current_pay_period_start, div.pay_period_rollover {
  grid-template-columns: 1fr 1fr 1fr;
}
div.instance_name, div.pay_period_type, div.current_pay_period_start, div.pay_period_rollover div {
  padding: 0.3em;
}
button.change {
  padding: 1em, 1em;
  width: 100%;
}
button:hover {
  background-color: #2d5675;
}
input {
  width:90%;
}
select {
  width: 95%;
}
div.location_list {
  align-items: center;
  margin-top: 0.2em;
  display: grid;
  border-width: 1px;
  border-style: solid;
  padding: 0.3em;
}
div.location{
  align-items: center;
  margin-bottom: 0.1em;
  display: grid;
  border-width: 1px;
  border-style: solid;
  padding: 0.3em;
}
div.location_info {
  align-items: center;
  margin-bottom: 0.1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0.3em;
}
div.location_value {
  display: grid;
}
div.location_input {
  display: none;
}
div.location_key {
  text-align: right;
  margin-right: 0.5em;
}
div.location_taxes {
  display: grid;
  align-items: center;
  padding: 0.2em;

}
div.create_tax {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}

div.taxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div.tax {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  border-width: 1px;
  border-style: solid;
}


div.tax_rate_key {
  display: grid;
  align-items: right;
  text-align: right;
  justify-content: end;
  margin-right: 0.2em;
}
div.tax_rate_value {
  display: grid;
}
div.tax_rate_input {
  display: none;
}
div.tax_rate_input, div.tax_rate_value {
  align-items: center;
  justify-content: left;
}
div.tax_rate {
  align-items: center;
  margin-top: 0.1em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0.3em;
}
div.tax_rate div {
  align-items: center;
  padding: 0.2em;
}
div.tax_default, div.delete_tax {
  display: grid;
  align-items: center;
  padding: 0.2em;
}




button.delete {
  width: 1.3em;
}

div.create_location {
  align-items: center;
  margin-bottom: 0.1em;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  padding: 0.3em;
}
div.instance_name {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 0.3em;
}
div.instance_input {
  display: none;
  margin-left: 1em;
}
div.instance_value {
  margin-left: 1em;
}
div.instance_key {
  text-align: right;
}

div.pay_period_combo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3em;
  margin-top: 0.3em;
}
div.pay_period_type {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div.pay_period_type_input {
  display: none;
  margin-left: 1em;
}
div.pay_period_type_value {
  margin-left: 1em;
}
div.pay_period_type_key {
  text-align: right;
}

div.current_pay_period_start {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div.current_pay_period_start_input {
  display: none;
  margin-left: 1em;
}
div.current_pay_period_start_value {
  margin-left: 1em;
}
div.current_pay_period_start_key {
  text-align: right;
}

div.pay_period_rollover {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div.pay_period_rollover_input {
  display: none;
  margin-left: 1em;
}
div.pay_period_rollover_value {
  margin-left: 1em;
}
div.pay_period_rollover_key {
  text-align: right;
}
div.current_pay_period {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-column: 1 / span 2;
}
div.small_fields_key {
  display: grid;
  align-items: right;
  text-align: right;
  justify-content: end;
  margin-right: 0.2em;
}
div.small_fields_value {
  display: grid;
}
div.small_fields_input {
  display: none;
}
div.small_fields_input, div.small_fields_value {
  align-items: center;
  justify-content: left;
}
div.small_fields {
  align-items: center;
  margin-top: 0.1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3em;
}
div.small_fields div {
  align-items: center;
  padding: 0.2em;
}