div.instance_name, div.pay_period_type, div.current_pay_period_start, div.pay_period_rollover, div.current_pay_period {
  display: grid;
  border: 1px;
  border-style: solid;
  padding: 0.3em;
  margin-top: 0.1em;
}
div.instance_name, div.pay_period_type, div.current_pay_period_start, div.pay_period_rollover {
  grid-template-columns: 1fr 1fr 1fr;
}
div.instance_name, div.pay_period_type, div.current_pay_period_start, div.pay_period_rollover div {
  padding: 0.3em;
}
button.change {
  padding: 1em, 1em;
  font-size: 1.2em;
  width: 100%;
}
button:hover {
  background-color: #2d5675;
}
input {
  width:95%;
}
select {
  width: 95%;
}
div.location_list {
  align-items: center;
  margin-top: 0.1em;
  display: grid;
  border-width: 1px;
  border-style: solid;
  padding: 0.3em;
}
div.location{
  align-items: center;
  margin-bottom: 0.1em;
  display: grid;
  border-width: 1px;
  border-style: solid;
  padding: 0.3em;
  grid-template-columns: 1fr 3fr;
}
div.location_value {
  display: grid;
}
div.location_input {
  display: none;
}
div.location_key {
  text-align: right;
  margin-right: 0.5em;
}
