form, div, span, select, button, label, body {
  display: grid;
}

body {
	color: #d4d0ab;
	background-color: #1f2a46;
	font-weight: 100;
	font-family: Sans-Serif;
}
h1 {
	font-weight: 400;
	font-size: 2.6vw;
	text-align: center;
}
h2 {
	font-weight: 400;
	font-size: 2.4vw;
	text-align: left;
}
h3 {
	font-weight: 400;
	margin-top: 0vw;
	font-size: 2.2vw;
	text-align: left;
}
a:visited, a:link {
	color: #d4d0ab;
}

div.mainbody {
  right: 0;
  top: 0;
  position: absolute;
  width: 85vw;
  padding: 0.5vw;
  font-size: 1.6vw;
}
div.configbody {
  right: 0;
  top: 0;
  position: absolute;
  width: 85vw;
  padding: 0.5vw;
  font-size: 1.4vw;
}
div.sidebar {
  width: 15vw;
  float: left;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0.1vw;
  grid-template-columns: 14vw;
  grid-template-rows: auto;
}
div {
  display: grid;
  align-items: center;
}
div.menu {
  position: fixed;
  left: 0;
  bottom: 0;
}
button {
  border: 1px;
  border-style: solid;
  color: inherit;
  background-color: #010338;
  font-size: inherit;
}
button:hover {
  background-color: #2d5675;
}
button.menu {
  width: 14vw;
  height: 12vh;
  font-size: 2vw;
}

button.function {
  padding: 1vw, 1vw;
  width: 16vw;
  height: 7vw;
  margin: 1vw;
  font-size: 2vw;
}

button.key {
  background-color: #1f2a46;
  color: hwb(32 25% 16%);
  border: none;
}

button.key:hover {
  background-color: #1f2a46;
}
input, select {
  font-size: inherit;
}