div.header {
  align-items: center;
  margin-top: 0.1vw;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  grid-template-columns: 1fr 4fr;
}

div.create {
  align-items: center;
  margin-top: 0.1vw;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}

button {
  padding: 2vw;
  width: fit-content;
  font-size: 2.5vw;
}

div.input {
  grid-template-columns: 2fr 2fr 1fr;
}
div.location_check {
  align-items: center;
  grid-template-columns: 1fr 4fr;
}
div.buttons {
  justify-content: center;
  text-align: center;
}