
div.department_info {
  text-align: center;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  border-width: 1px;
  border-style: solid;
}


span.department_key {
  text-align: right;
  margin-right: 0.5vw;
  justify-content: end;
}
form.department_input {
  display: none;
  text-align: left;
}
form.department_input_button {
  display: none;
  text-align: left;
  grid-template-columns: 3fr 1fr;
}
span.department_value {
  text-align: left;
  margin-left: 0.3vw;
}
div.tax_info {
  grid-template-columns: 1fr 1fr 1fr;
  border-width: 1px;
  border-style: solid;
  margin: 0.3vw;
}
span.tax_heading {
  grid-column: 1 / span 3;
  text-align: center;
}
div.tax {
  grid-template-columns: 3fr 1fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  margin: 0.3vw;
}
form.tax_input {
  display: none;
}
input.department {
  font-size: inherit;
  width: 12vw;
}
div.categories {
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  grid-template-columns: 1fr 1fr 1fr;
}

form.category {
  margin: 0.2vw;
  text-align: center;
  justify-content: center;
}
form.add_category, span.add_category_value {
  grid-column: 2 / span 2;
}
form.add_category {
  display: none;
  grid-template-columns: 3fr 1fr;
}
div.select_category {
  grid-template-columns: 3fr 1fr;
}
input.category {
  width: 35vw;
}

button.category {
  width: fit-content;
  padding: 0.5vw;
}
div.subcategories {
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  grid-template-columns: 1fr 1fr;
}