
div.new_department {
  border-width: 1px;
  border-style: solid;
  grid-column: 1 / span 4;
}
div.new_department_info {
  grid-template-columns: 1fr 3fr 1fr;
}
div.new_department_header {
  text-align: center;
}
div.new_department_button {
  margin-top: 0.4vw;
  text-align: center;
  grid-column: 1 / span 2;
  margin-bottom: 0.2vw;
  justify-content: center;
}
div.new_department_name {
  text-align: right;
}

div.department_list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.department {
  text-align: center;
}
