
div.department_info {
  text-align: center;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  border-width: 1px;
  border-style: solid;
}


div.department_key {
  text-align: right;
  margin-right: 0.5vw;
  justify-content: end;
}
div.department_input {
  display: none;
  text-align: left;
}
div.department_value {
  text-align: left;
  margin-left: 0.3vw;
}
div.delete_button{
  grid-column: 1 / span 2;
  text-align: right;
}
div.location {
  border-width: 1px;
  border-style: solid;
  margin-top: .3vw;
}
div.location_input {
  margin-left: 0.3vw;
  display: none;
}
div.location_value{
  margin-left: 0.3vw;
}
div.location_info{

  grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.location_heading {
  grid-column: 1 / span 4;
  text-align: center;
  padding: 0.3vw;
}
div.location_key {
  text-align: right;
}
div.tax_info {
  grid-template-columns: 1fr 1fr 1fr;
  border-width: 1px;
  border-style: solid;
}
div.tax_heading {
  grid-column: 1 / span 3;
  text-align: center;
}
div.tax {
  grid-template-columns: 3fr 2fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}
div.tax_id {
  text-align: right;
  margin-right: 0.3vw;
}
div.tax_input {
  display: none;
}
input.department {
  font-size: inherit;
  width: 12vw;
}
div.categories_header {
  text-align: center;
}
div.categories {
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  grid-template-columns: 1fr 1fr 1fr;
}

div.category {
  margin: 0.2vw;
  text-align: center;
  justify-content: center;
}
div.category_input {
  grid-template-columns: 3fr 1fr;
}
div.add_category, div.add_category_value {
  grid-column: 2 / span 2;
}
div.add_category {
  display: none;
}
div.select_category {
  grid-template-columns: 3fr 1fr;
}
input.category {
  width: 35vw;
}

button.category {
  width: fit-content;
  padding: 0.5vw;
}
div.subcategories {
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  grid-template-columns: 1fr 1fr;
}