form, div, span, select, label {
  display: grid;
}

div.topbar {
  grid-template-columns: 5fr 4fr 1fr;
  margin-bottom: 2vw;
}
div.property {
  grid-template-columns: 1fr 4fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  margin-top: 0.2vw;
}
form.scanbar {
  grid-template-columns: 1fr 5fr;
}
input.value {
  width: 90%;
  display: none;
}
div.price_combo {
  margin-top: 0.2vw;
  grid-template-columns: 3fr 2fr 3fr 2fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}
div.active_input{
  display: none;
  grid-template-columns: 3fr 1fr;
}
span.key {
  text-align: right;
}






div.unit_combo {
  margin-top: 0.2vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}
div.unit_combo div {
  padding: 0.1vw;
}
input.break_pack_item_id {
  width: 100%;
}
div.break_pack_quantity, div.package_size {
  grid-column: 3 / span 2;
  grid-template-columns: 1fr 1fr;
}
div.unit_combo_input {
  grid-template-columns: 3fr 1fr;
  display: none;
}


div.supplier_combo_input {
  display: none;
  grid-template-columns: 4fr 1fr;
}
div.supplier_combo {
  margin-top: 0.2vw;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}



form.dropdown_combo_input, div.dropdown_combo_input {
  display: none;
  grid-template-columns: 4fr 1fr;
}

div.dropdown_combo {
  margin-top: 0.2vw;
  grid-template-columns: 2fr 3fr 2fr 3fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}

div.item_groups {
  margin-top: 0.2vw;
  border-width: 1px;
  border-style: solid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.2vw;
}
div.item_group {
  padding: 0.2vw;
  grid-template-columns: 3fr 1fr;
}
form.item_group_create, form.item_group_add {
  padding: 0.2vw;
  grid-template-columns: 3fr 1fr;
}
div.item_group_input {
  display: none;
  grid-template-columns: 4fr 1fr 4fr 1fr;
}
div.item_group_heading {
  padding: 0.3vw;
  grid-template-columns: 1fr 4fr;
  grid-column: 1 / span 3;
}
form.remove_item_from_group {
  display: none;
}

div.small_fields_input {
  display: none;
  grid-template-columns: 3fr 1fr;
}
div.small_fields {
  margin-top: 0.2vw;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}
div.small_fields div {
  padding: 0.2vw;
}




select {
  /* width: 95%; */
}
input.price {
  width: 5vw;
  display: none;
}
input {
  font-size: inherit;
}
div.taxes {
  margin-top: 0.2vw;
  grid-template-columns: 1fr 1fr;
  border-width: 1px;
  border-style: solid;
}
div.tax {
  grid-template-columns: 1fr 1fr;
}
form.tax_input {
  display: none;
}
div.taxes_heading {
  grid-column: 1 / span 2;
  text-align: center;
}
button.delete {
  display: none;
}
button.remove_item_from_group {
  display: none;
}