
div.employee_list {
  align-items: center;
  margin-top: 0.1vw;
  display: grid;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}
div.employee{
  align-items: center;
  margin-bottom: 0.1vw;
  display: grid;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  grid-template-columns: 1fr 3fr;
}
div.employee_value {
  display: grid;
}
div.employee_input {
  display: none;
}
div.employee_key {
  margin-right: 0.5vw;
  justify-content: end;
  text-align: right;
}

div.new_employee {
  border-width: 1px;
  border-style: solid;

}
div.new_employee_info {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
div.new_employee_top {
  text-align: center;
}
div.new_employee_button {
  margin-top: 0.4vw;
  text-align: center;
  grid-column: 1 / span 2;
  margin-bottom: 0.2vw;
  justify-content: center;
}
div.delete_button{
  grid-column: 1 / span 2;
  text-align: right;
}
div.new_employee_key {
  text-align: right;
  margin-right: 0.5vw;
}
input.wide {
  width: 60vw;
}
select {
  width: 60vw;
}
div.create_employee_input {
  display: none;
}
div.permission_form {

  grid-column: 1 / span 2;
}
div.permissions {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1 / span 2;
}
div.permissions div {
  grid-template-columns: 1fr 4fr;
}
div.status_form {
  grid-template-columns: 4fr 1fr;
}
div.reset_password_form div{
  grid-template-columns: 1fr 4fr;
}