
div.employee_list {
  align-items: center;
  margin-top: 0.1vw;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}

div.employee{
  align-items: center;
  margin-bottom: 0.1vw;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  grid-template-columns: 1fr 3fr;
}
form.employee_input {
  display: none;
}
span.employee_key {
  margin-right: 0.5vw;
  justify-content: end;
  text-align: right;
}

div.new_employee {
  border-width: 1px;
  border-style: solid;
  margin-top: 0.4vw;

}
div.new_employee_button {
  margin-top: 0.4vw;
  text-align: center;
  grid-column: 1 / span 2;
  margin-bottom: 0.2vw;
  justify-content: center;
}
div.permissions {
  border-width: 1px;
  border-style: solid;
  grid-column: 1 / span 2;
  grid-template-columns: 1fr 8fr;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 0.5vw;
}
span.permissions_header {
  grid-column: 1 / span 2;
}
button.show_create_employee {
  background-color: #1f2a46;
  color: hwb(32 25% 16%);
  border: none;
}
form.delete_button{
  margin-top: 0.4vw;
  grid-column: 1 / span 2;
  text-align: right;
}
span.new_employee_key {
  text-align: right;
  margin-right: 0.5vw;
}
input.hide {
  width: 60vw;
  display: none;
}
input.wide {
  width: 60vw;
}
select {
  width: 60vw;
}
form.create_employee_input {
  display: none;
  grid-template-columns: 1fr 5fr;
  grid-gap: 0.5vw;
}
div.permissions {
  border-width: 1px;
  border-style: solid;
  grid-column: 1 / span 2;
  grid-template-columns: 1fr 8fr;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 0.5vw;
}
div.status {
  grid-template-columns: 4fr 1fr;
  display: none;
}
div.reset_password {
  grid-template-columns: 1fr 4fr;
  display: none;
}
button.create_employee{
  width: fit-content;
  margin: 0.4vw;
}
button.modify {
  width: fit-content;
}
button.modify_permissions {
  width: fit-content;
  display: none;
}