
button.change {
  padding: 1vw, 1vw;
  width: 100%;
}
button:hover {
  background-color: #2d5675;
}
input {
  width:90%;
}
select {
  width: 95%;
}
div.info {
  align-items: center;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 0.1vw;
  grid-template-columns: 1fr 6fr;
  padding: 0.3vw;
}
form.location_input {
  display: none;
}
div.taxes {
  align-items: center;
  padding: 0.2vw;
  border-width: 1px;
  border-style: solid;
}
form.create_tax_input {
  display: none;
}
form.create_tax_form {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: none;
}
div.create_taxes {
  grid-template-columns: 1fr 5fr;
}
div.tax_list {
  grid-template-columns: 1fr 1fr;
}
div.tax {
  grid-template-columns: 3fr 1fr 2fr 1fr 2fr 1fr;
  border-width: 1px;
  border-style: solid;
  margin: 0.3vw;
}


form.tax_rate_input, form.default_input, form.delete_tax_input {
  display: none;
}

button.delete {
  width: 1.3vw;
}

form.instance_input {
  display: none;
  margin-left: 1vw;
}


form.small_fields_input {
  display: none;
  margin-left: 1vw;
  grid-template-columns: 3fr 1fr;
}
div.small_fields {
  align-items: center;
  margin-top: 0.1vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}