div.instance_name, div.pay_period_type, div.current_pay_period_start, div.pay_period_rollover, div.current_pay_period {
  border: 1px;
  border-style: solid;
  padding: 0.3vw;
  margin-top: 0.1vw;
}
div.instance_name, div.pay_period_type, div.current_pay_period_start, div.pay_period_rollover {
  grid-template-columns: 1fr 1fr 1fr;
}
div.instance_name, div.pay_period_type, div.current_pay_period_start, div.pay_period_rollover div {
  padding: 0.3vw;
}
button.change {
  padding: 1vw, 1vw;
  width: 100%;
}
button:hover {
  background-color: #2d5675;
}
input {
  width:90%;
}
select {
  width: 95%;
}
div.location_heading {
  text-align: center;
}
div.location_list {
  align-items: center;
  margin-top: 0.2vw;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}
div.location{
  align-items: center;
  margin-bottom: 0.1vw;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}
div.location_info {
  align-items: center;
  margin-bottom: 0.1vw;
  grid-template-columns: 1fr 3fr;
  padding: 0.3vw;
}
div.location_value {
}
div.location_input {
  display: none;
}
div.location_key {
  text-align: right;
  justify-content: right;
  margin-right: 0.5vw;
}
div.location_taxes {
  align-items: center;
  padding: 0.2vw;
  border-width: 1px;
  border-style: solid;
}
div.create_tax_input {
  display: none;
}
div.create_tax_form {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
div.create_taxes {
  grid-template-columns: 1fr 5fr;
}
div.taxes {
  grid-template-columns: 1fr 1fr;
}
div.tax {
  grid-template-columns: 3fr 1fr 2fr 1fr 2fr 1fr;
  border-width: 1px;
  border-style: solid;
  margin: 0.3vw;
}


div.tax_rate_key {
  align-items: right;
  text-align: right;
  justify-content: end;
  margin-right: 0.2vw;
}
div.tax_rate_value {
}
div.tax_rate_input, div.default_input, div.delete_tax_input, div.create_location_input {
  display: none;
}
div.create_location_ {
  grid-template-columns: 3fr 1fr;
}
div.tax_rate_input, div.tax_rate_value {
  align-items: center;
  justify-content: left;
}
div.tax_rate {
  align-items: center;
  margin-top: 0.1vw;
  grid-template-columns: 3fr 1fr;
  padding: 0.3vw;
}
div.tax_rate div {
  align-items: center;
  padding: 0.2vw;
}
div.tax_default, div.delete_tax {
  align-items: center;
  padding: 0.2vw;
}




button.delete {
  width: 1.3vw;
}

div.create_location_form {
  align-items: center;
  margin-bottom: 0.1vw;
  grid-template-columns: 3fr 1fr;
  padding: 0.3vw;
}
div.create_location {
  grid-template-columns: 1fr 3fr;
}
div.instance_name {
  grid-template-columns: 1fr 3fr;
  margin-top: 0.3vw;
}
div.instance_input {
  display: none;
  margin-left: 1vw;
}
div.instance_value {
  margin-left: 1vw;
}
div.instance_key {
  justify-content: right;
}

div.pay_period_combo {
  grid-template-columns: 1fr 1fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  margin-top: 0.3vw;
}
div.pay_period_type {
  grid-template-columns: 1fr 1fr;
}
div.pay_period_type_input {
  display: none;
  margin-left: 1vw;
}
div.pay_period_type_value {
  margin-left: 1vw;
}
div.pay_period_type_key {
  justify-content: right;
}

div.current_pay_period_start {
  grid-template-columns: 1fr 1fr;
}
div.current_pay_period_start_input {
  display: none;
  margin-left: 1vw;
}
div.current_pay_period_start_value {
  margin-left: 1vw;
}
div.current_pay_period_start_key {
  justify-content: right;
}

div.pay_period_rollover {
  grid-template-columns: 1fr 1fr;
}
div.pay_period_rollover_input {
  display: none;
  margin-left: 1vw;
}
div.pay_period_rollover_value {
  margin-left: 1vw;
}
div.pay_period_rollover_key {
  justify-content: right;
}
div.current_pay_period {
  text-align: center;
  grid-template-columns: 1fr;
  grid-column: 1 / span 2;
}
div.small_fields_key {
  align-items: right;
  text-align: right;
  justify-content: end;
  margin-right: 0.2vw;
}
div.small_fields_value {
}
div.small_fields_input {
  display: none;
}
div.small_fields_input, div.small_fields_value {
  align-items: center;
  justify-content: left;
}
div.small_fields {
  align-items: center;
  margin-top: 0.1vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}
div.small_fields div {
  align-items: center;
  padding: 0.2vw;
}