div.import_list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.import_list div {
  text-align: center;
}

div.upload_status {
  grid-template-columns: 1fr 1fr;
  width: 40vw;
  grid-gap: 0.5vw;
}
span.upload_header {
  grid-column: 1 / span 2;
  text-align: center;
}