
div.supplier_list {
  align-items: center;
  margin-top: 0.1vw;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
}
div.supplier{
  align-items: center;
  margin-bottom: 0.1vw;
  border-width: 1px;
  border-style: solid;
  padding: 0.3vw;
  grid-template-columns: 1fr 3fr;
}
span.supplier_key {
  margin-right: 0.5vw;
  justify-content: end;
  text-align: right;
}

div.new_supplier {
  border-width: 1px;
  border-style: solid;

}
button.new_supplier_top {
  margin-left: 10vw;
  align-items: center;
  text-align: center;
  background-color: #1f2a46;
  color: hwb(32 25% 16%);
  border: none;
  width: fit-content;
}
button.new_supplier {
  margin-top: 0.4vw;
  margin-bottom: 0.2vw;
  width: fit-content;
}
form.delete_button{
  grid-column: 1 / span 2;
  text-align: right;
}
span.new_supplier_key {
  text-align: right;
  margin-right: 0.5vw;
}
input.wide {
  width: 60vw;
  display: none;
}
select {
  width: 60vw;
}
form.create_supplier_input {
  display: none;
  grid-template-columns: 1fr 3fr;
}