<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/common.css">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/admin.css">
  <title>Admin</title>
</head>
<body>
  <div class="sidebar">
    <img src="{{ assets_url }}/logo.png" class="sidebarlogo">
    <form method="post" class="menu">
      <button class="menu" type="submit" name="function" value="main_menu">Main Menu</button>
      <button class="menu" type="submit" name="function" value="log_out">Log Out</button>
    </form>
  </div>
  <div class="mainbody">
    <h1>Admin</h1>
    {% if message %}<h3>{{ message|safe }}</h3>{% endif %}
    <form method="post" class="admin_list">

      {% if 'inventory_management' in permissions or 'superuser' in permissions %}
      <button class="function" type="submit" name="function" value="edit_item">View/Edit Item</button>
      <button class="function" type="submit" name="function" value="import_data">Import Data</button>
      {% endif %}
      {% if 'suppliers_departments_brands' in permissions or 'superuser' in permissions %}
      <button class="function" type="submit" name="function" value="supplier_management">Suppliers</button>
      <button class="function" type="submit" name="function" value="department_list">Departments & Categories</button>
      <button class="function" type="submit" name="function" value="brand_management">Brands</button>
      {% endif %}
      {% if 'employee_management' in permissions or 'superuser' in permissions %}
      <button class="function" type="submit" name="function" value="employee_management">Employees</button>
      {% endif %}
      {% if 'hardware' in permissions or 'superuser' in permissions %}
      <button class="function" type="submit" name="function" value="hardware">Hardware</button>
      {% endif %}
      {% if 'superuser' in permissions %}
      <button class="function" type="submit" name="function" value="global_config">Global Config</button>
      {% endif %}
      <button class="function" type="submit" name="function" value="change_password">Change Password</button>
    </form>
  </div>
</body>
</html>
