<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/style_common.css">
  <link rel="stylesheet" href="{{ assets_url }}/style_admin.css">
  <title>{{ instance_name }} Admin</title>
</head>
<body>
  <div class="sidebar">
    <div class="logo">
      <img src="{{ assets_url }}/logo.png" style="width:100%">
    </div>
    <div class="menu">
      <form method="post"><button class="menu" type="submit" name="function" value="main_menu">Main Menu</button></form>
    </div>
    <div class="menu">
      <form method="post"><button class="menu" type="submit" name="function" value="log_out">Log Out</button></form>
    </div>
  </div>
  <div class="mainbody">
    <h1>{{ instance_name }} Admin</h1>
    <h3>{{ message|safe }}</h3>
    <div class="admin_list">
      <div><a href="change_password/{{session_key}}">Change Password</a></div>
      {% if 'superuser' in permissions %}
      <div><a href="/inventory_selection/{{ session_key }}">Inventory Management</a></div>
      <div><a href="/instance_config/{{ session_key }}">Instance Config</a></div>
      {% else %}
      {% for i in permissions %}
      {% if i == 'inventory_management' %}
      <div><a href="/inventory_selection/{{ session_key }}">Inventory Management</a></div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</body>
</html>
