<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/common.css">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/brand_management.css">
  <title>Brand Management</title>
  <script>
    function switch_value_input(property) {
      var value_id = "";
      value_id = property.concat("_value");
      var input_id = "";
      input_id = property.concat("_input");
      if (document.getElementById(value_id).style.display == "none") {
        document.getElementById(value_id).style.display = "grid";
        document.getElementById(input_id).style.display = "none";
      } else {
        document.getElementById(value_id).style.display = "none";
        document.getElementById(input_id).style.display = "grid";
        document.getElementById(input_id).focus();
      }
    }
    function switch_value_input_div(property) {
      var value_id = "";
      value_id = property.concat("_value");
      var input_id = "";
      input_id = property.concat("_input");
      var focus_id = "";
      focus_id = property.concat("_focus");
      if (document.getElementById(value_id).style.display == "none") {
        document.getElementById(value_id).style.display = "grid";
        document.getElementById(input_id).style.display = "none";
      } else {
        document.getElementById(value_id).style.display = "none";
        document.getElementById(input_id).style.display = "grid";
        document.getElementById(focus_id).focus();
      }
    }
    function switch_visible(property) {
      var input_id = "";
      input_id = property.concat("_input");
      var focus_id = "";
      focus_id = property.concat("_focus");
      if (document.getElementById(input_id).style.display != "grid") {
        document.getElementById(input_id).style.display = "grid";
        document.getElementById(focus_id).focus();
      } else {
        document.getElementById(input_id).style.display = "none";
      }
    }
    function update_brand(brand, property, new_data, id_prefix) {
      var input_id = ""
      input_id = id_prefix.concat("_input")
      var value_id = ""
      value_id = id_prefix.concat("_value")
      var reply;
      let data = new FormData();
      data.append("function", "update");
      data.append("brand_id", brand);
      data.append("property", property);
      data.append("new_data", new_data);
      return fetch("{{ url_for('brand_management') }}", {"method": "POST", "body": data})
        .then(res => res.json())
        .then(data => {
          reply = data;
        })
        .then(() => {
          if (reply.success == true) {
            document.getElementById(value_id).style.display = "grid";
            document.getElementById(input_id).style.display = "none";
            document.getElementById(value_id).innerText = reply.beautified;
          } else {
            alert(reply.message);
          }
        })
    }
    function initialize() {
      {% for brand in brand_collection %}
      var website_{{ loop.index }}_input = document.getElementById('website_{{ loop.index }}_input');
      website_{{ loop.index }}_input.addEventListener("keypress", function(event) {
        if (event.key == "Enter") {
          event.preventDefault();
          update_brand('{{ brand['brand_id'] }}', 'website', website_{{ loop.index }}_input.value, 'website_{{ loop.index }}');
        }
      });
      {% endfor %}
    }
  </script>
</head>
<body onload="initialize()">
  <div class="sidebar">
    <img src="{{ assets_url }}/logo.png" class="sidebarlogo">
    <form method="post" class="menu">
      <button class="menu" type="submit" name="function" value="admin">Admin</button>
      <button class="menu" type="submit" name="function" value="main_menu">Main Menu</button>
      <button class="menu" type="submit" name="function" value="log_out">Log Out</button>
    </form>
  </div>
  <div class="mainbody">
    <h1>Brand Management</h1>
    {% if message %}<h3>{{ message|safe }}</h3>{% endif %}
    <div class="brand_list">

   

    
    {% for i in brand_collection %}

      <div class="brand">

        <span class="brand_key">Name:</span>
        <span class="brand_value">{{ i['brand_id'] }}</span>
        
        <button class="key" onclick="switch_value_input('website_{{ loop.index }}')">Website:</button>
        <span class="brand_value" id="website_{{ loop.index }}_value" style="width:fit-content"><a target="_blank" href="{{ i['website'] }}">{{ i['website'] }}</a></span>
        <input type="text" class="wide" id="website_{{ loop.index }}_input" title="Enter a website" name="website">
        
        <button class="key" onclick="switch_value_input_div('local_{{ loop.index }}')">Local:</button>
        <span class="brand_value" id="local_{{ loop.index }}_value">{{ i['local'] }}</span>
        <div class="brand_input_button" id="local_{{ loop.index }}_input">
          <select name="local" id="local_{{ loop.index }}_focus">
            <option value="True">True</option>
            <option value="False">False</option>                  
          </select>
          <button class="change" onclick="update_brand('{{ i['brand_id'] }}', 'local', local_{{ loop.index }}_focus.value, 'local_{{ loop.index }}')">OK</button>
        </div>
        
        
        <button class="key" onclick="switch_value_input('supplier_{{ loop.index }}')">Supplier:</button>
        <span class="brand_value" id="supplier_{{ loop.index }}_value">{{ i['supplier'] }}</span>
        <div class="brand_input_button" id="supplier_{{ loop.index }}_input">
          <select name="supplier_id" id="supplier_{{ loop.index }}_focus">
            <option value=""> </option>
            {% for supplier in supplier_list %}
            <option value="{{ supplier }}">{{ supplier }}</option>    
            {% endfor %}              
          </select>
          <button class="change" onclick="update_brand('{{ i['brand_id'] }}', 'supplier', supplier_{{ loop.index }}_focus.value, 'supplier_{{ loop.index }}')">OK</button>
        </div>
        
      </div>
    {% endfor %}

      <div class="new_brand">
        <button class="create_brand" onclick="switch_visible('create_brand')">Create a New brand:</button>
        <form method="post" class="create_brand_input" id="create_brand_input">
            <div class="new_brand_info">
              <span class="new_brand_key">Name:</span><input type="text" class="wide" id="create_brand_focus" title="Enter a unique name for the brand" name="brand_id">
              <span class="new_brand_key">Website:</span><input type="text" class="wide" title="Enter a website" name="website">
              <span class="new_brand_key">Supplier:</span>
              <select name="supplier_id">
                <option value=""> </option>
                {% for supplier in supplier_list %}
                <option value="{{ supplier }}">{{ supplier }}</option>"
                {% endfor %}
              </select>
              <span class="new_brand_key">Local:</span>
              <select name="local">
                <option value="True">True</option>
                <option value="False">False</option>
              </select>
            </div>
            <button style="width:fit-content" type="submit" name="function" value="create_brand">Create</button>
        </form>
      </div>
    </div>
  
  </div>
</body>
</html>
