<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/common.css">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/create_new_item.css">
  <title>Item Management</title>
</head>
<body>

  <div class="body">
    <div class="header">
      <div><form method="post"><button class="cancel" type="submit" name="function" value="inventory_management">Cancel</button></form></div>
      <h1>{{ scan }} Not in system.  Create new item?</h1>
    </div>
    <div class="create">
      <form method="post">
        <div class="input">
          <div class="locations">
            <div class="locations_heading">Add to locations:</div>
            {% for i in location_list %}
            <div class="location_check">
              <input id="{{ i }}" type="checkbox" name="add_to_location[]" value="{{ i }}" checked /><label for="{{ i }}">{{ i }}</label>
            </div>
          {% endfor %}
          </div>
          <div class="department">
            <label for="select_department">Department:</label>
            <select id="select_department" name="department_id">
              <option value="">&nbsp;</option>
              {% for department in department_list %}
              <option value="{{ department }}">{{ department }}</option>
              {% endfor %}
            </select>

          </div>
          <div class="buttons">
            <div><button class="create" type="submit" name="function" value="create_new_item">Create</button></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
