<!doctype html>
<html>
<head>
  <link rel="icon" href="/{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/common.css">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/create_first_user.css">
  <title>Welcome to {{ instance_name }}.</title>
</head>
<body>
  <div class="sidebar">
    <img src="{{ assets_url }}/logo.png" class="sidebarlogo">
  </div>

  <div class="mainbody">
    <h1>Welcome to {{ instance_name }}.  Fill in some defaults.</h1>
    <h2>After submitting, you will be redirected to instance config where you are recommended to configure the pay period and taxes.</h2>
    {% if message %}
      <h2>{{ message }}</h2>
    {% endif %}
    <form method="post" class="input_form">
      <span>Instance Name:</span>
      <input type="text" title="Enter a name at least 4 characters long" name="instance_name" value="NataPOS" autofocus>
      <span>Superuser Username:</span>
      <input type="text" id="username" name="username">
      <span>Password:</span>
      <input type="password" id="password" name="password">
      <span>Re-enter Password:</span>
      <input type="password" id="password2" name="password2">
      <button type="submit" name="function" value="create_first_user">Create</button>
    </form>

  </div>
</body>
</html>
