<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/common.css">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/employee_management.css">
  <title>employee Management</title>
  <script>
    function switch_value_input(property) {
      var value_id = "";
      value_id = property.concat("_value");
      var input_id = "";
      input_id = property.concat("_input");
      var focus_id = "";
      focus_id = property.concat("_focus");
      if (document.getElementById(value_id).style.display == "none") {
        document.getElementById(value_id).style.display = "grid";
        document.getElementById(input_id).style.display = "none";
      } else {
        document.getElementById(value_id).style.display = "none";
        document.getElementById(input_id).style.display = "grid";
        document.getElementById(focus_id).focus();
      }
    }
  </script>
</head>
<body>
  <div class="sidebar">
    <div class="logo">
      <img src="{{ assets_url }}/logo.png" style="width:100%">
    </div>
    <div class="menu">
      <div>
        <form method="post"><button class="menu" type="submit" name="function" value="admin">Admin</button></form>
      </div>
      <div>
        <form method="post"><button class="menu" type="submit" name="function" value="main_menu">Main Menu</button></form>
      </div>
      <div>
        <form method="post"><button class="menu" type="submit" name="function" value="log_out">Log Out</button></form>
      </div>
    </div>
  </div>
  <div class="mainbody">
    <h1>Employees</h1>
    {% if message %}<h3>{{ message|safe }}</h3>{% endif %}
    <div class="employee_list">

   

    {% for i in employee_collection %}

      <div class="employee">

        <div class="employee_key">Username:</div>
        <div class="employee_value">{{ i['username'] }}</div>
        
        <div class="employee_key"><button class="key" onclick="switch_value_input('{{ i['username'] }}_name')">Name:</button></div>
        <div class="employee_value" id="{{ i['username'] }}_name_value" style="width:fit-content">{{ i['name'] }}</div>
        <div class="employee_input" id="{{ i['username'] }}_name_input">
          <form class="change" method="post">
            <input type="text" class="wide" title="Enter employee name" name="name">
            <input type="hidden" name="username" value="{{ i['username'] }}">
            <input type="submit" name="function" value="change_name" hidden>
          </form>
        </div>
        
        <div class="employee_key"><button class="key" onclick="switch_value_input('{{ i['username'] }}_short_name')">Short Name:</button></div>
        <div class="employee_value" id="{{ i['username'] }}_short_name_value" style="width:fit-content">{{ i['short_name'] }}</div>
        <div class="employee_input" id="{{ i['username'] }}_short_name_input">
          <form class="change" method="post">
            <input type="text" class="wide" title="Enter a short name for receipts" name="short_name">
            <input type="hidden" name="username" value="{{ i['username'] }}">
            <input type="submit" name="function" value="change_short_name" hidden>
          </form>
        </div>
        
        <div class="employee_key"><button class="key" onclick="switch_value_input('{{ i['username'] }}_title')">Title:</button></div>
        <div class="employee_value" id="{{ i['username'] }}_title_value" style="width:fit-content">{{ i['title'] }}</div>
        <div class="employee_input" id="{{ i['username'] }}_title_input">
          <form class="change" method="post">
            <input type="text" class="wide" title="Enter a title" name="title">
            <input type="hidden" name="username" value="{{ i['username'] }}">
            <input type="submit" name="function" value="change_title" hidden>
          </form>
        </div>
        
        <div class="employee_key"><button class="key" onclick="switch_value_input('{{ i['username'] }}_phone')">Phone:</button></div>
        <div class="employee_value" id="{{ i['username'] }}_phone_value">{{ i['phone'] }}</div>
        <div class="employee_input" id="{{ i['username'] }}_phone_input">
          <form class="change" method="post">
            <input type="text" class="wide" title="Enter a phone number" name="phone">
            <input type="hidden" name="username" value="{{ i['username'] }}">
            <input type="submit" name="function" value="change_phone" hidden>
          </form>
        </div>
        
        <div class="employee_key"><button class="key" onclick="switch_value_input('{{ i['username'] }}_address')">Address:</button></div>
        <div class="employee_value" id="{{ i['username'] }}_address_value">{{ i['address'] }}</div>
        <div class="employee_input" id="{{ i['username'] }}_address_input">
          <form class="change" method="post">
            <input type="text" class="wide" title="Enter an address" name="address">
            <input type="hidden" name="username" value="{{ i['username'] }}">
            <input type="submit" name="function" value="change_address" hidden>
          </form>
        </div>
        
        <div class="employee_key"><button class="key" onclick="switch_value_input('{{ i['username'] }}_email')">Email:</button></div>
        <div class="employee_value" id="{{ i['username'] }}_email_value">{{ i['email'] }}</div>
        <div class="employee_input" id="{{ i['username'] }}_email_input">
          <form class="change" method="post">
            <input type="text" class="wide" title="Enter an email address" name="email">
            <input type="hidden" name="username" value="{{ i['username'] }}">
            <input type="submit" name="function" value="change_email" hidden>
          </form>
        </div>
        
        <div class="employee_key"><button class="key" onclick="switch_value_input('{{ i['username'] }}_hire_date')">Hire Date:</button></div>
        <div class="employee_value" id="{{ i['username'] }}_hire_date_value">{{ i['hire_date'] }}</div>
        <div class="employee_input" id="{{ i['username'] }}_hire_date_input">
          <form class="change" method="post">
            <input type="text" class="wide" title="Enter a contact name" name="hire_date">
            <input type="hidden" name="username" value="{{ i['username'] }}">
            <input type="submit" name="function" value="change_hire_date" hidden>
          </form>
        </div>
        
        <div class="employee_key"><button class="key" onclick="switch_value_input('{{ i['username'] }}_status')">Status:</button></div>
        <div class="employee_value" id="{{ i['username'] }}_status_value">{{ i['status'] }}</div>
        <div class="employee_input" id="{{ i['username'] }}_status_input">
          <form class="change" method="post">
            <div class="status_form">
              <input type="hidden" name="username" value="{{ i['username'] }}">
              <div>
                <select name="status">
                  <option value="current">Current</option>
                  <option value="former">Former</option>
                </select>
              </div>
              <div><button style="width:fit-content" type="submit" name="function" value="change_status">OK</button></div>
            </div>
          </form>
        </div>
        
        <div class="employee_key"><button class="key" onclick="switch_value_input('{{ i['username'] }}_reset_password')">Reset Password:</button></div>
        <div class="employee_value" id="{{ i['username'] }}_reset_password_value">&emsp;</div>
        <div class="employee_input" id="{{ i['username'] }}_reset_password_input">
          <form class="change" method="post">
            <div class="reset_password_form">
              <input type="hidden" name="username" value="{{ i['username'] }}">
              <div><label for="reset_password1">Password:</label><input id="reset_password_1" type="password" class="password" title="Enter a password" name="password1"></div>
              <div><label for="reset_password2">Verify:</label><input id="reset_password_2" type="password" class="password" title="Enter a password" name="password2"></div>
              <div><button style="width:fit-content" type="submit" name="function" value="reset_password">OK</button></div>
            </div>
          </form>
        </div>


        <div class="permission_form">
          <form method="post">
            <input type="hidden" name="username" value="{{ i['username'] }}">
            <div class="permissions">
              <div><input id="{{ i['username'] }}_inventory_management" type="checkbox" name="permissions[]" value="inventory_management" {% if 'inventory_management' in i['permissions'] %}checked{% else %}unchecked{% endif %} /><label for="{{ i['username'] }}_inventory_management">Inventory Management</label></div>
              <div><input id="{{ i['username'] }}_employee_management" type="checkbox" name="permissions[]" value="employee_management" {% if 'inventory_management' in i['permissions'] %}checked{% else %}unchecked{% endif %} /><label for="{{ i['username'] }}_employee_management">Employee Management</label></div>
              <div><input id="{{ i['username'] }}_shrink" type="checkbox" name="permissions[]" value="shrink" {% if 'shrink' in i['permissions'] %}checked{% else %}unchecked{% endif %} /><label for="{{ i['username'] }}_shrink">Shrink Items</label></div>
              <div><input id="{{ i['username'] }}_superuser" type="checkbox" name="permissions[]" value="superuser" {% if 'superuser' in i['permissions'] %}checked{% else %}unchecked{% endif %} /><label for="{{ i['username'] }}_superuser">Superuser</label></div>
              
            </div>
            <div><button style="width:fit-content" type="submit" name="function" value="modify_permissions">Modify Permissions</button></div>
          </form>
        </div>
        {% if 'superuser' in permissions %}
        <div class="delete_button">
          <form class="change" method="post">
            <input type="hidden" name="username" value="{{ i['username'] }}">
            <button class="change" type="submit" name="function" value="delete_employee">Delete</button>
          </form>
        </div>
        {% endif %}
      </div>
    {% endfor %}

      <div class="new_employee">
        <div class="new_employee_top"><button class="key" onclick="switch_value_input('create_employee')">Create a New employee:</button></div>
        <div id="create_employee_value">&emsp;</div>
        <div class="create_employee_input" id="create_employee_input">
          <form method="post">
            <div class="new_employee_info">

              <div class="new_employee_key">Username:</div><div><input type="text" id="create_employee_focus" class="wide" title="Enter a username for the employee" name="username"></div>
              <div class="new_employee_key">Password:</div><div><input type="password" class="wide" title="Enter a password" name="password1"></div>
              <div class="new_employee_key">Verify Password:</div><div><input type="password" class="wide" title="Enter a password" name="password2"></div>
              <div class="new_employee_key">Full Name:</div><div><input type="text" class="wide" title="Enter the full name" name="name"></div>
              <div class="new_employee_key">Short Name:</div><div><input type="text" class="wide" title="Enter a short name " name="short_name"></div>
              <div class="new_employee_key">Title:</div><div><input type="text" class="wide" title="Enter a title" name="title"></div>
              <div class="new_employee_key">Phone:</div><div><input type="text" class="wide" title="Enter a phone number" name="phone"></div>
              <div class="new_employee_key">Address:</div><div><input type="text" class="wide" title="Enter an address" name="address"></div>
              <div class="new_employee_key">Email:</div><div><input type="text" class="wide" title="Enter an email address" name="email"></div>
              <div class="new_employee_key">Hire Date:</div><div><input type="text" class="wide" title="Enter a hire date" name="hire_date"></div>
                <div class="permissions">
                  <div><input id="inventory_management" type="checkbox" name="permissions[]" value="inventory_management" unchecked /><label for="inventory_management">Inventory Management</label></div>
                  <div><input id="employee_management" type="checkbox" name="permissions[]" value="employee_management" unchecked /><label for="employee_management">Employee Management</label></div>
                  <div><input id="shrink" type="checkbox" name="permissions[]" value="shrink" unchecked /><label for="shrink">Shrink Items</label></div>
                  {% if 'superuser' in permissions %}<div><input id="superuser" type="checkbox" name="permissions[]" value="superuser" unchecked /><label for="superuser">Superuser</label></div>{% endif %}
                </div>

              <div class="new_employee_button"><button style="width:fit-content" type="submit" name="function" value="create_employee">Create</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </div>
</body>
</html>
