<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/common.css">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/global_config.css">
  <title>Global Configuration</title>
  <script>
    function switch_value_input(property) {
      var value_id = "";
      value_id = property.concat("_value");
      var input_id = "";
      input_id = property.concat("_input");
      var focus_id = "";
      focus_id = property.concat("_focus");
      if (document.getElementById(value_id).style.display == "none") {
        document.getElementById(value_id).style.display = "grid";
        document.getElementById(input_id).style.display = "none";
      } else {
        document.getElementById(value_id).style.display = "none";
        document.getElementById(input_id).style.display = "grid";
        document.getElementById(focus_id).focus();
      }
    }
    function switch_visible(property) {
      var input_id = "";
      input_id = property.concat("_input");
      var focus_id = "";
      focus_id = property.concat("_focus");
      if (document.getElementById(input_id).style.display != "grid") {
        document.getElementById(input_id).style.display = "grid";
        document.getElementById(focus_id).focus();
      } else {
        document.getElementById(input_id).style.display = "none";
      }
    }
  </script>
</head>
<body>
  <div class="sidebar">
    <img src="{{ assets_url }}/logo.png" class="sidebarlogo">
    <div class="menu">
      <form method="post"><button class="menu" type="submit" name="function" value="admin">Admin</button></form>
      <form method="post"><button class="menu" type="submit" name="function" value="main_menu">Main Menu</button></form>
      <form method="post"><button class="menu" type="submit" name="function" value="log_out">Log Out</button></form>
    </div>
  </div>
  <div class="configbody">
    <h1>Global Configuration</h1>
    {% if message %}<h3>{{ message|safe }}</h3>{% endif %}
    <div class="info">
      <button class="key" onclick="switch_value_input('instance_name')">Instance Name:</button>
      <span class="instance_value" id="instance_name_value">{{ instance_name }}</span>
      <form class="instance_input" id="instance_name_input" method="post">
        <input type="text" id="instance_name_focus" title="Enter a name at least 4 characters long" name="instance_name">
        <input type="submit" name="function" value="change_instance_name" hidden>
      </form>

      <button class="key" onclick="switch_value_input('phone')">Phone:</button>
      <span class="location_value" id="phone_value">{{ phone }}</span>
      <form class="location_input" id="phone_input" method="post">
        <input type="text" id="phone_focus" class="wide" title="Enter a phone" name="phone">
        <input type="submit" name="function" value="change_phone" hidden>
      </form>

      <button class="key" onclick="switch_value_input('address')">Address:</button>
      <span class="location_value" id="address_value">{{ address }}</span>
      <form class="location_input" id="address_input" method="post">
        <input type="text" id="address_focus" class="wide" title="Enter an address" name="address">
        <input type="submit" name="function" value="change_address" hidden>
      </form>
    </div>

    <div class="taxes">
      <div class="create_taxes">
        <button class="key" onclick="switch_visible('create_tax')">Create Tax</button>

        <form class="create_tax_form" id="create_tax_input" method="post">
          <span>Tax name:</span>
          <input type="text" id="create_tax_focus" class="wide" title="Enter a tax name" name="tax_id">
          <span>Tax rate:</span>
          <input type="text" class="wide" title="Enter a tax rate" name="tax_rate">
          <button class="change" type="submit" name="function" value="create_tax">OK</button>
        </form>

      </div>
      <div class="tax_list">
        {% for tax in taxes %}
        <div class="tax">
          {% if tax['tax_id'] != 'exempt' %}
          <button class="key" onclick="switch_value_input('{{ tax['tax_id'] }}_tax_rate')">{{ tax['tax_id'] }}:</button>
          <span class="tax_rate_value" id="{{ tax['tax_id'] }}_tax_rate_value">{{ (100 * tax['rate'])|round(5) }}%</span>
          <form class="tax_rate_input" id="{{ tax['tax_id'] }}_tax_rate_input" method="post">
            <input type="hidden" name="tax_id" value="{{ tax['tax_id'] }}">
            <input id="{{ tax['tax_id'] }}_tax_rate_focus" type="text" title="Enter a percentage" name="rate">
            <input type="submit" name="function" value="change_tax_rate" hidden>
          </form>
          {% else %}
          <span class="tax_rate_key">Exempt:</span>
          <span class="tax_rate_value">0%</span>
          {% endif %}

          <button class="key" onclick="switch_value_input('{{ tax['tax_id'] }}_tax_default')">Default:</button>



          {% if tax['tax_id'] in default_taxes %}
          <span class="default_value" id="{{ tax['tax_id'] }}_tax_default_value">On</span>
          <form class="default_input" id="{{ tax['tax_id'] }}_tax_default_input" method="post">
            <input type="hidden" name="tax_id" value="{{ tax['tax_id'] }}">
            <button class="set_default_tax" type="submit" name="function" value="remove_default_tax">Remove</button>
          </form>

          {% else %}
          <span class="default_value" id="{{ tax['tax_id'] }}_tax_default_value">Off</span>
          <form class="default_input" id="{{ tax['tax_id'] }}_tax_default_input" method="post">
            <input type="hidden" name="tax_id" value="{{ tax['tax_id'] }}">
            <button class="set_default_tax" type="submit" name="function" value="add_default_tax">Add</button>
          </form>
          {% endif %}

          {% if tax['tax_id'] != 'exempt' %}
          <button class="key" onclick="switch_visible('{{ tax['tax_id'] }}_delete_tax')">Delete Tax</button>
          <form class="delete_tax_input" id="{{ tax['tax_id'] }}_delete_tax_input" method="post">
            <input type="hidden" name="tax_id" value="{{ tax['tax_id'] }}">
            <input type="hidden" name="rate" value="{{ tax['rate'] }}">
            <button class="delete" type="submit" name="function" value="delete_tax">X</button>
          </form>
          {% endif %}
        </div>
        {% endfor %}
        
      </div>
    </div>



    <div class="small_fields">
      <button class="key" onclick="switch_value_input('employee_discount')">Default Employee Discount:</button>
      <span class="small_fields_value" id="employee_discount_value">{{ employee_discount }}</span>
      <form class="small_fields_input" id="employee_discount_input" method="post">
        <input id="employee_discount_focus" type="text" title="Enter a percentage" name="employee_discount">
        <button class="change" type="submit" name="function" value="change_employee_discount">Change</button>
      </form>
      <button class="key" onclick="switch_value_input('current_pay_period_start')">Current Pay Period Start:</button>
      <span class="current_pay_period_start_value" id="current_pay_period_start_value">{{ current_pay_period_start }}</span>
      <form class="small_fields_input" id="current_pay_period_start_input" method="post">
        <input id="current_pay_period_start_focus" type="text" title="Enter a date in the form of MM/DD/YY" name="current_pay_period_start">
        <button class="change" type="submit" name="function" value="change_current_pay_period_start">Change</button>
      </form>
    </div>

    
    
  </div>
</body>
</html>
