<span class="upload_header">Processing File:</span>
<span>Processing Time:</span><span>{{ upload_document['processing_time']|round(2) }} sec</span>
<span>Total Items Processed:</span><span>~{{ upload_document['items_processed'] }}</span>
<span>Items Available:</span><span>~{{ upload_document['items_available'] }}</span>
<span>New Items:</span><span>~{{ upload_document['new_items'] }}</span>
<span>Changed Prices:</span><span>~{{ upload_document['changed_prices'] }}</span>
<span>Deleted Items:</span><span>~{{ upload_document['deleted_items'] }}</span>
