<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/common.css">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/import_data.css">
  <title>Import Data</title>
</head>
<body>
  <div class="sidebar">
    <img src="{{ assets_url }}/logo.png" class="sidebarlogo">
    <form method="post" class="menu">
      <button class="menu" type="submit" name="function" value="admin">Admin</button>
      <button class="menu" type="submit" name="function" value="main_menu">Main Menu</button>
      <button class="menu" type="submit" name="function" value="log_out">Log Out</button>
    </form>
  </div>
  <div class="mainbody">
    <h1>Import Data</h1>
    {% if message %}<h3>{{ message|safe }}</h3>{% endif %}
    <div class="import_list">
      <form method="post">
        <button class="function" type="submit" name="function" value="import_unfi_allbid">Import UNFI Allbid</button>
      </form>
    </div>
  </div>
</body>
</html>
