<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/style_common.css">
  <link rel="stylesheet" href="{{ assets_url }}/style_instance_config.css">
  <title>{{ instance_name }} Instance Configuration</title>
</head>
<body>
  <div class="sidebar">
    <div class="logo">
      <img src="{{ assets_url }}/logo.png" style="width:100%">
    </div>
    <div class="menu">
      <div>
        <form method="post"><button class="menu" type="submit" name="function" value="main_menu">Main Menu</button></form>
      </div>
      <div>
        <form method="post"><button class="menu" type="submit" name="function" value="admin">Admin</button></form>
      </div>
      <div>
        <form method="post"><button class="menu" type="submit" name="function" value="log_out">Log Out</button></form>
      </div>
    </div>
  </div>
  <div class="mainbody">
    <h1>{{ instance_name }} Instance Configuration</h1>
    {% if message %}<h3>{{ message|safe }}</h3>{% endif %}

    <form class="change" method="post">
      <div class="instance_name">
        <div>Instance Name: {{ instance_name }}</div>
        <div><input type="text" title="Enter a name at least 4 characters long" name="instance_name"></div>
        <div><button class="change" type="submit" name="function" value="change_instance_name">Change</button></div>
      </div>
    </form>
    <form class="change" method="post">
      <div class="pay_period_type">
        <div>Pay Period Type: {{ pay_period_type }}</div>
        <div>
          <select name="pay_period_type">
            <option value="weekly">Weekly</option>
            <option value="biweekly">Biweekly</option>
            <option value="bimonthly">Bimonthly</option>
          </select>
        </div>
        <div><button class="change" type="submit" name="function" value="change_pay_period_type">Change</button></div>
      </div>
    </form>
    {% if pay_period_type == 'weekly' or pay_period_type == 'biweekly' %}
    <form class="change" method="post">
      <div class="current_pay_period_start">
        <div>Current Pay Period Start: {{ current_pay_period_start }}</div>
        <div><input type="text" title="Enter a date in the form of MM/DD/YY" name="current_pay_period_start"></div>
        <div><button class="change" type="submit" name="function" value="change_current_pay_period_start">Change</button></div>
      </div>
    </form>
    {% elif pay_period_type == 'bimonthly' %}
    <form class="change" method="post">
      <div class="pay_period_rollover">
        <div>Pay Period Rollover: {{ pay_period_rollover }}<sup>th</sup></div>
        <div><input type="text" name="pay_period_rollover" title="Enter a number between 10 and 19"></div>
        <div><button class="change" type="submit" name="function" value="change_pay_period_rollover">Change</button></div>
      </div>
    </form>
    {% endif %}

    <div class="current_pay_period">Current Pay Period: {{ current_pay_period }}</div>
  </div>
</body>
</html>
