<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/style_inventory_management.css">
  <title>{{ instance_name }} Inventory Selection</title>
</head>
<body>
  <div class="sidebar">
    <table class="sidebar">
      <tr class="menuitem"><td class="logo">
        <img src="{{ assets_url }}/logo.png" style="width:100%">
      </td></tr>
      <tr class="menuitem"><td class="menu">
        <form method="post"><button class="menu" type="submit" name="function" value="main_menu">Main Menu</button></form>
      </td></tr>
      <tr class="menuitem"><td class="menu">
        <form method="post"><button class="menu" type="submit" name="function" value="admin">Admin</button></form>
      </td></tr>
      <tr class="menuitem"><td class="menu">
        <form method="post"><button class="menu" type="submit" name="function" value="log_out">Log Out</button></form>
      </td></tr>
    </table>
  </div>
  <div class="mainbody">
    <h1>{{ instance_name }} Inventory Selection</h1>
    {% if message %}<h3>{{ message|safe }}</h3>{% endif %}

    <table>
      {% if inventories != [] %}
      <tr>
        <td>Select Inventory:</td>
        <form class="change" method="post">
          <td>
          <select name="inventory_id">
            {% for i in inventories %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          </td>
          <td><button class="change" type="submit" name="function" value="select_inventory">Select</button></td>
          {% if 'superuser' in permissions %}<td><button class="change" type="submit" name="function" value="delete_inventory">Delete</button></td>{% endif %}
        </form>
      </tr>
      {% endif %}
      {% if 'superuser' in permissions %}
      <tr>
        <td>Create Inventory:</td>
        <td>
          <form class="change" method="post">
            <input type="text" title="Enter an inventory name, no spaces only - or _" name="inventory_id">
            <button class="change" type="submit" name="function" value="create_inventory">Create</button>
          </form>
        </td>
      </tr>
      {% endif %}
    </table>
  
  </div>
</body>
</html>
