<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/common.css">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/login.css">
  <title>Log in to {{ instance_name }}</title>
</head>
<body>
  <div class="sidebar">
  
    <table class="sidebar">
      <tr class="menuitem"><td class="logo">
        <img src="{{ assets_url }}/logo.png" style="width:100%">
      </td></tr>
    </table>
  </div>

  <div class="mainbody">
    <h1>Log in to {{ instance_name }}</h1>
    {% if message %}
    <h2>{{ message }}</h2>
    {% endif %}
    <form class="login_form" method="post">
      <span class="login">Username:</span>
      <input class="login" type="text" id="username" name="username" autofocus>
      <span class="login">Password:</span>
      <input class="login" type="password" id="password" name="password">
      <button class="login" type="submit" name="function" value="login">Log in</button>
    </form>

  </div>
</body>
</html>
