<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/style_landing.css">
  <title>Welcome to {{ business_name }}</title>
</head>
<body>
  <div class="sidebar">
  
    <table class="sidebar">
      <tr class="menuitem"><td class="logo">
        <img src="{{ assets_url }}/logo.png" style="width:100%">
      </td></tr>
    </table>
  </div>

  <div class="mainbody">
    <h1>Welcome to {{ business_name }}</h1>
    {% if message %}
    <h2>{{ message }}</h2>
    {% endif %}
    <form method="post">
      <h2>Username:</h2>
      <input type="text" id="username" name="username"><br>
      <h2>Password:</h2>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" name="function" value="login">
    </form>

  </div>
</body>
</html>
