<!doctype html>
<html>
<head>
  <link rel="icon" href="{{ assets_url }}/favicon.ico" sizes="16">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/common.css">
  <link rel="stylesheet" href="{{ assets_url }}/stylesheets/supplier_management.css">
  <title>Supplier Management</title>
  <script>
    function switch_value_input(property) {
      var value_id = "";
      value_id = property.concat("_value");
      var input_id = "";
      input_id = property.concat("_input");
      var focus_id = "";
      focus_id = property.concat("_focus");
      if (document.getElementById(value_id).style.display == "none") {
        document.getElementById(value_id).style.display = "grid";
        document.getElementById(input_id).style.display = "none";
      } else {
        document.getElementById(value_id).style.display = "none";
        document.getElementById(input_id).style.display = "grid";
        document.getElementById(focus_id).focus();
      }
    }
    function switch_visible(property) {
      var input_id = "";
      input_id = property.concat("_input");
      var focus_id = "";
      focus_id = property.concat("_focus");
      if (document.getElementById(input_id).style.display != "grid") {
        document.getElementById(input_id).style.display = "grid";
        document.getElementById(focus_id).focus();
      } else {
        document.getElementById(input_id).style.display = "none";
      }
    }
  </script>
</head>
<body>
  <div class="sidebar">
    <img src="{{ assets_url }}/logo.png" class="sidebarlogo">
    <form method="post" class="menu">
      <button class="menu" type="submit" name="function" value="admin">Admin</button>
      <button class="menu" type="submit" name="function" value="main_menu">Main Menu</button>
      <button class="menu" type="submit" name="function" value="log_out">Log Out</button>
    </form>
  </div>
  <div class="mainbody">
    <h1>Supplier Management</h1>
    {% if message %}<h3>{{ message|safe }}</h3>{% endif %}
    <div class="supplier_list">

   

    {% if suppliers != [] %}
    {% for i in suppliers_collection %}

      <div class="supplier">

        <span class="supplier_key">Name:</span>
        <span class="supplier_value">{{ i['supplier_id'] }}</span>
        
        <button class="key" onclick="switch_value_input('{{ i['supplier_id'] }}_account')">Account:</button>
        <span class="supplier_value" id="{{ i['supplier_id'] }}_account_value" style="width:fit-content">{{ i['account'] }}</span>
        <form method="post" class="supplier_input" id="{{ i['supplier_id'] }}_account_input">
          <input type="text" class="wide" title="Enter account name or number" name="account">
          <input type="hidden" name="supplier_id" value="{{ i['supplier_id'] }}">
          <input type="submit" name="function" value="change_account" hidden>
        </form>
        
        <button class="key" onclick="switch_value_input('{{ i['supplier_id'] }}_website')">Website:</button>
        <span class="supplier_value" id="{{ i['supplier_id'] }}_website_value" style="width:fit-content"><a target="_blank" href="{{ i['website'] }}">{{ i['website'] }}</a></span>
        <form method="post" class="supplier_input" id="{{ i['supplier_id'] }}_website_input">
          <input type="text" class="wide" title="Enter a website" name="website">
          <input type="hidden" name="supplier_id" value="{{ i['supplier_id'] }}">
          <input type="submit" name="function" value="change_website" hidden>
        </form>
        
        <button class="key" onclick="switch_value_input('{{ i['supplier_id'] }}_phone')">Phone:</button>
        <span class="supplier_value" id="{{ i['supplier_id'] }}_phone_value">{{ i['phone'] }}</span>
        <form method="post" class="supplier_input" id="{{ i['supplier_id'] }}_phone_input">
          <input type="text" class="wide" title="Enter a phone number" name="phone">
          <input type="hidden" name="supplier_id" value="{{ i['supplier_id'] }}">
          <input type="submit" name="function" value="change_phone" hidden>
        </form>
        
        <button class="key" onclick="switch_value_input('{{ i['supplier_id'] }}_address')">Address:</button>
        <span class="supplier_value" id="{{ i['supplier_id'] }}_address_value">{{ i['address'] }}</span>
        <form method="post" class="supplier_input" id="{{ i['supplier_id'] }}_address_input">
          <input type="text" class="wide" title="Enter an address" name="address">
          <input type="hidden" name="supplier_id" value="{{ i['supplier_id'] }}">
          <input type="submit" name="function" value="change_address" hidden>
        </form>
        
        <button class="key" onclick="switch_value_input('{{ i['supplier_id'] }}_contact_name')">Contact Name:</button>
        <span class="supplier_value" id="{{ i['supplier_id'] }}_contact_name_value">{{ i['contact_name'] }}</span>
        <form method="post" class="supplier_input" id="{{ i['supplier_id'] }}_contact_name_input">
          <input type="text" class="wide" title="Enter a contact name" name="contact_name">
          <input type="hidden" name="supplier_id" value="{{ i['supplier_id'] }}">
          <input type="submit" name="function" value="change_contact_name" hidden>
        </form>
        
        <button class="key" onclick="switch_value_input('{{ i['supplier_id'] }}_email')">Email:</button>
        <span class="supplier_value" id="{{ i['supplier_id'] }}_email_value">{{ i['email'] }}</span>
        <form method="post" class="supplier_input" id="{{ i['supplier_id'] }}_email_input">
          <input type="text" class="wide" title="Enter an email address" name="email">
          <input type="hidden" name="supplier_id" value="{{ i['supplier_id'] }}">
          <input type="submit" name="function" value="change_email" hidden>
        </form>
        {% if 'superuser' in permissions %}
        <form method="post" class="delete_button">
          <input type="hidden" name="supplier_id" value="{{ i['supplier_id'] }}">
          <button class="change" type="submit" name="function" value="delete_supplier">Delete</button>
        </form>
        {% endif %}
      </div>
    {% endfor %}
    {% endif %}

      <div class="new_supplier">
        <button class="new_supplier_top" onclick="switch_visible('create_supplier')">Create a New Supplier:</button>
        <form method="post" class="create_supplier_input" id="create_supplier_input">
          <span class="new_supplier_key">Name:</span><input type="text" id="create_supplier_focus" class="wide" title="Enter a unique name for the supplier" name="supplier_id">
          <span class="new_supplier_key">Account:</span><input type="text" class="wide" title="Enter an account name or number" name="account">
          <span class="new_supplier_key">Website:</span><input type="text" class="wide" title="Enter a website" name="website">
          <span class="new_supplier_key">Phone:</span><input type="text" class="wide" title="Enter a phone number" name="phone">
          <span class="new_supplier_key">Address:</span><input type="text" class="wide" title="Enter an address" name="address">
          <span class="new_supplier_key">Contact Name:</span><input type="text" class="wide" title="Enter a contact name" name="contact_name">
          <span class="new_supplier_key">Email:</span><input type="text" class="wide" title="Enter an email address" name="email">
          <button class="new_supplier" type="submit" name="function" value="create_supplier">Create</button>
        </form>
      </div>
    </div>
  
  </div>
</body>
</html>
